{% extends 'base.html' %} 
{% load static %}

{% block content-area %}
<!--게시글 리스트-->  
<div class="page-title-wrapper">
  <h1 class="page-title">Project</h1>
</div>
<div class="card">
  <a class="article-card" href="#">
    <article class="article-summary">
      <div class="article-thumbnail">
        <img src="{% static 'image.jpg' %}" alt="강아지 그림" />
      </div>
      <div class="article-contents">
        <h2 class="article-title">게시물 1</h2>
        <p class="article-date">October / 2020</p>
        <p class="article-contetns-brief">
          ddddddddddddddddddddddddddddddddddddd
        </p>
      </div>
    </article>
  </a>
  <a class="article-card" href="#">
    <article class="article-summary">
      <div class="article-thumbnail">
        <img src="{% static 'image.jpg' %}" alt="강아지 그림" />
      </div>
      <div class="article-contents">
        <h2 class="article-title">게시물 2</h2>
        <p class="article-date">October / 2020</p>
        <p class="article-contetns-brief">
          ddddddddddddddddddddddddddddddddddddd
        </p>
      </div>
    </article>
  </a>
  <a class="article-card" href="#">
    <article class="article-summary">
      <div class="article-thumbnail">
        <img src="{% static 'image.jpg' %}" alt="강아지 그림" />
      </div>
      <div class="article-contents">
        <h2 class="article-title">게시물 3</h2>
        <p class="article-date">October / 2020</p>
        <p class="article-contetns-brief">
          ddddddddddddddddddddddddddddddddddddd
        </p>
      </div>
    </article>
  </a>
  <a class="article-card" href="#">
    <article class="article-summary">
      <div class="article-thumbnail">
        <img src="{% static 'image.jpg' %}" alt="강아지 그림" />
      </div>
      <div class="article-contents">
        <h2 class="article-title">게시물 4</h2>
        <p class="article-date">October / 2020</p>
        <p class="article-contetns-brief">
          ddddddddddddddddddddddddddddddddddddd
        </p>
      </div>
    </article>
  </a>
  <a class="article-card" href="#">
    <article class="article-summary">
      <div class="article-thumbnail">
        <img src="{% static 'image.jpg' %}" alt="강아지 그림" />
      </div>
      <div class="article-contents">
        <h2 class="article-title">게시물 5</h2>
        <p class="article-date">October / 2020</p>
        <p class="article-contetns-brief">
          ddddddddddddddddddddddddddddddddddddd
        </p>
      </div>
    </article>
</a>
</div>
{% endblock content-area %}
